<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="productMapper">

	<resultMap id="productResultSet" type="product">
		<result column="PRODUCT_NO" property="productNo" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="PRICE" property="price" />
		<result column="DISCRIPTION" property="description" />
		<result column="ATTACHMENT1" property="attachment1" />
		<result column="ATTACHMENT2" property="attachment2" />
		<result column="ATTACHMENT3" property="attachment3" />
		<result column="ATTACHMENT4" property="attachment4" />
		<result column="PRODUCT_STATUS" property="productStatus" />
		<result column="SELLER_NO" property="sellerNo" />
	</resultMap>
	
	<resultMap id="couponResultSet" type="coupon">
		<result column="COUPON_NO" property="CouponNo" />
		<result column="COUPON_NAME" property="CouponName" />
		<result column="COUPON_PRICE" property="CouponPrice" />
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE PRODUCT_STATUS = 1
	</select>
	
	<select id="selectList" resultMap="productResultSet">
		SELECT PRODUCT_NO
		     , PRODUCT_NAME
		     , PRICE
		     , ATTACHMENT1
		FROM PRODUCT
		WHERE PRODUCT_STATUS = 1
		ORDER BY PRODUCT_NO DESC
	</select>
	
	<select id="keyCouponList" resultMap="couponResultSet">
		SELECT COUPON_NO 
		     , COUPON_NAME
		     , COUPON_PRICE
		FROM COUPON_KEYBOARDER
	</select>
	
	<select id="stoCouponList" resultMap="couponResultSet">
		SELECT COUPON_NO
		     , COUPON_NAME
		     , COUPON_PRICE
		FROM COUPON_STORE
	</select>
	
	
	
</mapper>


































