<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="poCouponMapper">

	<resultMap id="poCouponResultMap" type="poCoupon">
		<result column="COUPON_NO" property="couponNo" />
		<result column="COUPON_NAME" property="couponName" />
		<result column="COUPON_PRICE" property="couponPrice" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="USE_DATE" property="useDate" />
		<result column="DUE_DATE" property="dueDate" />
		<result column="COUPON_STMT" property="couponStmt" />
		<result column="SELLER_NO" property="sellerNo" />
		<result column="PRODUCT_NAME" property="productName" />
	</resultMap>
	
	
	
	<insert id ="insertCoupon" parameterType="poCoupon">
	
	INSERT INTO COUPON_STORE(COUPON_NO,
							 COUPON_NAME,
							 COUPON_PRICE,
							 CREATE_DATE,
							 DUE_DATE,
							 PRODUCT_NO
							 <!-- , SELLER_NO -->
							)
VALUES('k'||SEQ_COUPON_STORE_NO.NEXTVAL,
		#{couponName},
		#{couponPrice},
		#{createDate},
		#{dueDate},
		#{productNo}
		<!-- , #{sellerNo} -->
		)							 
	</insert>
	
	<select id="showAbleCouponList" parameterType="poCoupon" resultMap="poCouponResultMap">
	
	 SELECT COUPON_NO as 쿠폰번호,
            COUPON_NAME as 쿠폰명,
            COUPON_PRICE as 쿠폰종류,
            COUPON_PRICE as 할인금액,
            P.PRODUCT_NAME as 상품명,
            COUPON_STMT as 쿠폰상태,
            TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "쿠폰발행일",
            TO_CHAR(DUE_DATE, 'YYYY-MM-DD') AS "쿠폰만료일"
            FROM COUPON_STORE S
            LEFT JOIN PRODUCT P ON (P.PRODUCT_NO=S.PRODUCT_NO)
            WHERE COUPON_STMT='Y'
            AND S.SELLER_NO=${sellerNo}
            ORDER BY COUPON_NO DESC
	</select>
	
	
	</mapper>
	