<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="poCouponMapper">

	<resultMap id="poCouponResultMap" type="poCoupon">
		<result column="COUPON_NO" property="couponNo" />
		<result column="COUPON_NAME" property="couponName" />
		<result column="COUPON_PRICE" property="couponPrice" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="USE_DATE" property="useDate" />
		<result column="DUE_DATE" property="dueDate" />
		<result column="COUPON_STMT" property="couponStmt" />
		<result column="SELLER_NO" property="sellerNo" />
		<result column="PRODUCT_NAME" property="productName" />
	</resultMap>
	
	<insert id ="insertCoupon" parameterType="poCoupon">
	
	INSERT INTO COUPON_STORE(COUPON_NO,
							 COUPON_NAME,
							 COUPON_PRICE,
							 CREATE_DATE,
							 DUE_DATE,
							 PRODUCT_NO)
VALUES('k'||SEQ_COUPON_STORE_NO.NEXTVAL,
		#{couponName},
		#{couponPrice},
		#{createDate},
		#{dueDate},
		#{productNo})							 
	</insert>
	</mapper>
	