<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="poorderMapper">

	<resultMap id="poorderResultSet" type="poOrder">
		<result column="ORDER_NO" property="orderNo" />
		<result column="ORDER_DATE" property="orderDate" />
		<result column="ORDER_PRICE" property="orderPrice" />
		<result column="PRODUCT_NO" property="productNo" />
		<result column="CON_NO" property="conNo" />
		<result column="SETTLE_DATE" property="settleDate" />
		<result column="KMONEY_DATE" property="keyMoneyDate" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="CON_ID" property="conId" />
		<result column="CON_NAME" property="conName" />
		<result column="COMMISSION" property="commission" />
		<result column="PRICE" property="price" />
		<result column="COUPON_PRICE" property="couponPrice" />
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="ORDER_STATUS" property="orderStatus"/>
		<result column="KEYBOARDER_COUPON_PRICE" property="keyboarderCouponPrice"/>
		<result column="MARKET_COUPON_PRICE" property="marketCouponPrice"/>
		<result column="COMMITIONFIN" property="commitionFin"/>
		<result column="SETTLE_DEPT" property="settleDept"/>
	</resultMap>
	
	<resultMap id="deliveryOrderResultSet" type="poOrder">
		<result column="ORDER_NO" property="orderNo" />
		<result column="ORD_ORDER_DATE" property="orderDate" />
		<result column="ORDER_PRICE" property="orderPrice" />
		<result column="COUPON_YN" property="couponYN" />
		<result column="ORDER_STATUS" property="orderStatus" />
		<result column="PRODUCT_NO" property="productNo" />
		<result column="CON_NO" property="conNo" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="PRICE" property="productPrice" />
		<result column="K_COUPON_PRICE" property="keyCouponPrice" />
		<result column="S_COUPON_PRICE" property="stoCouponPrice" />
		<result column="CON_NAME" property="conName" />
		<result column="CON_ID" property="conId" />
		<result column="CON_PHONE" property="conPhone" />
		<result column="COMMITION" property="commition" />
	</resultMap>
	
	<!-- 구매확정내역 전체조회(해당월)-장미 -->
	<select id="selectDecisionOrder"  parameterType="string" resultMap="poorderResultSet">
		SELECT *
		FROM (SELECT O.ORDER_NO "ORDER_NO"
		                , S.SETTLE_DATE "SETTLE_DATE"
		                , TO_CHAR((S.SETTLE_DATE)+1) "KMONEY_DATE"
		                , O.PRODUCT_NO "PRODUCT_NO"
		                , P.PRODUCT_NAME "PRODUCT_NAME"
		                , O.ORDER_PRICE "ORDER_PRICE"
		                , C.CON_ID "CON_ID"
		                , C.CON_NAME "CON_NAME"
		                , TO_CHAR(O.ORDER_DATE, 'YYYY-MM') "MONTH"
		        FROM ORDERS O
		        JOIN PRODUCT P ON (P.PRODUCT_NO = O.PRODUCT_NO)
		        JOIN CONSUMER C ON (C.CON_NO = O.CON_NO)
		        JOIN SETTLEMENT S ON (S.ORDER_NO = O.ORDER_NO)
		        ORDER BY O.ORDER_DATE DESC)
		<if test=' #{nowMonth} != null '>
			WHERE MONTH = #{nowMonth}
		</if>
	</select>
		<!-- 정산 상세내역 조회 -->
	<select id="selectSettleDetailList" parameterType="_int" resultMap="poorderResultSet">
				  SELECT 
                  O.ORDER_STATUS  as "ORDER_STATUS", 
                  O.ORDER_DATE as "ORDER_DATE",
                  O.ORDER_NO as "ORDER_NO",
                  C.CON_NAME as "CON_NAME",
                  P.PRODUCT_NO as "PRODUCT_NO",
                  P.PRODUCT_NAME as "PRODUCT_NAME",
                  P.PRICE as "PRICE",
                  COALESCE(B.COUPON_PRICE, M.COUPON_PRICE,0) as "COUPON_PRICE", 
                  E.COMMITION as "COMMITION"
                  FROM ORDERS O
                  LEFT  JOIN PRODUCT P ON (O.PRODUCT_NO=P.PRODUCT_NO)
                  LEFT  JOIN SELLER R ON (P.SELLER_NO=R.SELLER_NO)
                  LEFT  JOIN SETTLEMENT E ON (O.ORDER_NO =E.ORDER_NO)
                  LEFT  JOIN CONSUMER C ON(O.CON_NO=C.CON_NO)
                  LEFT  JOIN STORE_USE S ON (O.ORDER_NO=S.ORDER_NO)
                  LEFT  JOIN COUPON_STORE M ON (M.COUPON_NO=S.COUPON_NO)
                  LEFT  JOIN KEYBOARDER_USE K ON (O.ORDER_NO=K.ORDER_NO)
                  LEFT  JOIN COUPON_KEYBOARDER B ON (B.COUPON_NO=K.COUPON_NO) 
                  LEFT JOIN STORE_USE S ON (O.ORDER_NO=S.ORDER_NO)
                  LEFT  JOIN KEYBOARDER_USE T ON (O.ORDER_NO=T.ORDER_NO) 
				  WHERE R.SELLER_NO = #{sellerNo}
				 <if test="startDate!=null">
				 	AND  ORDER_DATE BETWEEN #{startDate} AND #{endDate}
				 </if> 
	</select>
			
			<select id="selectSettleSumList" parameterType="_int" resultMap="poorderResultSet">
			   	 SELECT 
                 COUNT(O.ORDER_NO) as "ORDER_NO",
                 SUM(O.ORDER_PRICE) as "ORDER_PRICE",
                 SUM(B.COUPON_PRICE) as "KEYBOARDER_COUPON_PRICE",
                 SUM(M.COUPON_PRICE) as "MARKET_COUPON_PRICE",
                 SUM(E.COMMITION +COALESCE(B.COUPON_PRICE,0 ))as "COMMITIONFIN",
                 SUM(B.COUPON_PRICE) as "KEYBOARDER_COUPON_PRICE",
                 SUM(E.COMMITION)as  "COMMITION",
                 SUM(E.SETTLE_DEPT) as "SETTLE_DEPT"
                 FROM ORDERS O
                 LEFT  JOIN PRODUCT P ON (O.PRODUCT_NO=P.PRODUCT_NO)
                 LEFT  JOIN SELLER R ON (P.SELLER_NO=R.SELLER_NO)
                 LEFT  JOIN SETTLEMENT E ON (O.ORDER_NO =E.ORDER_NO)
                 LEFT  JOIN CONSUMER C ON(O.CON_NO=C.CON_NO)
                 LEFT  JOIN STORE_USE S ON (O.ORDER_NO=S.ORDER_NO)
                 LEFT  JOIN COUPON_STORE M ON (M.COUPON_NO=S.COUPON_NO)
                 LEFT  JOIN KEYBOARDER_USE K ON (O.ORDER_NO=K.ORDER_NO)
                 LEFT  JOIN COUPON_KEYBOARDER B ON (B.COUPON_NO=K.COUPON_NO) 
                 LEFT JOIN STORE_USE S ON (O.ORDER_NO=S.ORDER_NO)
                 LEFT  JOIN KEYBOARDER_USE T ON (O.ORDER_NO=T.ORDER_NO) 
				 WHERE R.SELLER_NO = #{sellerNo}
		 		<if test="startDate!=null">
				 	AND  ORDER_DATE BETWEEN #{startDate} AND #{endDate}
				</if> 
			</select>
		
		<!-- 구매확정내역 기간별 조회 - 장미 -->
		<select id="searchPoOrderDecision" parameterType="poOrder" resultMap="poorderResultSet">
				SELECT *
				FROM (SELECT O.ORDER_NO "ORDER_NO"
											, S.SETTLE_DATE "SETTLE_DATE"
											, TO_CHAR((S.SETTLE_DATE)+1) "KMONEY_DATE"
											, O.PRODUCT_NO "PRODUCT_NO"
											, P.PRODUCT_NAME "PRODUCT_NAME"
											, O.ORDER_PRICE "ORDER_PRICE"
											, C.CON_ID "CON_ID"
											, C.CON_NAME "CON_NAME"
											, P.SELLER_NO "SELLER_NO"
								FROM ORDERS O
								JOIN PRODUCT P ON (P.PRODUCT_NO = O.PRODUCT_NO)
								JOIN CONSUMER C ON (C.CON_NO = O.CON_NO)
								JOIN SETTLEMENT S ON (S.ORDER_NO = O.ORDER_NO)
								ORDER BY O.ORDER_DATE DESC)
				WHERE SELLER_NO = #{sellerNo}
					AND EXTRACT (YEAR FROM SETTLE_DATE) = EXTRACT(YEAR FROM TO_DATE(#{searchDate}, 'YYYY-MM-DD'))
					AND EXTRACT (MONTH FROM SETTLE_DATE) = EXTRACT(MONTH FROM TO_DATE (#{searchDate}, 'YYYY-MM-DD'))	
				ORDER BY ORDER_NO
		</select>
		
		<select id="selectListCount_default" parameterType="hashmap" resultType="_int">
		SELECT COUNT(*)
		  FROM ORDERS O
		  JOIN PRODUCT P ON (O.PRODUCT_NO = P.PRODUCT_NO)
		 WHERE TO_CHAR(ORDER_DATE, 'YYYY-MM') = #{nowMonth}
		   AND P.SELLER_NO = #{sellerNo}
		</select>
		
		<!-- 	
		<select id="selectAllOrderList" parameterType="hashmap" resultMap="">
		</select> -->
		
		<select id="orderStatus1" parameterType="_int" resultType="_int">
			SELECT COUNT(*)
			FROM ORDERS
			JOIN PRODUCT USING(PRODUCT_NO)
			WHERE SELLER_NO = #{selNo}
			  AND ORDER_STATUS = '1'
		</select>
		
		<select id="orderStatus2" parameterType="_int" resultType="_int">
			SELECT COUNT(*)
			FROM ORDERS
			JOIN PRODUCT USING(PRODUCT_NO)
			WHERE SELLER_NO = #{selNo}
			  AND ORDER_STATUS = '2'
		</select>
		
		<select id="orderStatus3" parameterType="_int" resultType="_int">
			SELECT COUNT(*)
			FROM ORDERS
			JOIN PRODUCT USING(PRODUCT_NO)
			WHERE SELLER_NO = #{selNo}
			  AND ORDER_STATUS = '3'
		</select>
		
		<select id="orderStatus4" parameterType="_int" resultType="_int">
			SELECT COUNT(*)
			FROM ORDERS
			JOIN PRODUCT USING(PRODUCT_NO)
			WHERE SELLER_NO = #{selNo}
			  AND ORDER_STATUS = '4'
		</select>
		
		<select id="orderCount" parameterType="_int" resultType="_int">
			SELECT COUNT(*)
			FROM ORDERS
			JOIN PRODUCT USING(PRODUCT_NO)
			WHERE SELLER_NO = #{selNo}
		</select>
		
		<select id="orderList" parameterType="_int" resultMap="deliveryOrderResultSet">
			SELECT DISTINCT ORD.ORDER_NO
			     , ORD.ORDER_STATUS
			     , ORD.ORDER_PRICE
			     , TO_CHAR(ORD.ORDER_DATE, 'YY-MM-DD') AS "ORD_ORDER_DATE"
			     , PRO.PRODUCT_NO
			     , PRO.PRODUCT_NAME
			     , PRO.PRICE
			     , CONS.CON_ID
			     , CONS.CON_NAME
			     , CONS.CON_PHONE
			     , KCOU.COUPON_PRICE AS "K_COUPON_PRICE"
			     , SCOU.COUPON_PRICE AS "S_COUPON_PRICE"
			     , ORD.ORDER_PRICE * 0.15 AS "COMMISSION"
			FROM ORDERS ORD
			LEFT JOIN PRODUCT PRO ON (ORD.PRODUCT_NO = PRO.PRODUCT_NO)
			LEFT JOIN CONSUMER CONS ON (ORD.CON_NO = CONS.CON_NO)
			LEFT JOIN KEYBOARDER_USE KUSE ON (ORD.ORDER_NO = KUSE.ORDER_NO)
			LEFT JOIN STORE_USE SUSE ON(ORD.ORDER_NO = SUSE.ORDER_NO)
			LEFT JOIN COUPON_KEYBOARDER KCOU ON (KUSE.COUPON_NO = KCOU.COUPON_NO)
			LEFT JOIN COUPON_STORE SCOU ON (SUSE.COUPON_NO = SCOU.COUPON_NO)
			WHERE PRO.SELLER_NO = #{selNo}
			ORDER BY ORD_ORDER_DATE DESC
		</select>

</mapper>
