<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="settlementMapper">

	<resultMap id="withdrawResultSet" type="withdraw">
		<result column="SELLER_NO" property="sellerNo" />
		<result column="WITHDRAW_DATE" property="withdrawDate" />
		<result column="WITHDRAW_MONEY" property="withdrawMoney" />
		<result column="ACCOUNT_NO" property="accountNo" />
		<result column="REP_NAME" property="repName" />
		<result column="REQ_RESULT" property="reqResult" />
		<result column="SELLER_NAME" property="sellerName" />
	</resultMap>
	
	<resultMap id="settlementResultSet" type="settlement">
		<result column="ALL_BALANCE" property="allBalance" />
		<result column="CONFIRM_SETTLEMENT" property="confirmSettlement" />
		<result column="PRE_SETTLEMENT" property="preSettlement" />
		<result column="REMIT_BALANCE" property="remitBalance" />
		<result column="ABLE_BALANCE" property="ableBalance" />
		
	</resultMap>
	

	
	
	

	<insert id="insertWithdraw" parameterType="withdraw">
		INSERT INTO WITHDRAW (SELLER_NO
							, WITHDRAW_MONEY
							, ACCOUNT_NO
							, REP_NAME
							, REQ_RESULT)
		VALUES (#{sellerNo}
			  , #{withdrawMoney}
			  , #{accountNo}
			  , #{repName}
			  , 'N')
	</insert>
	
	<select id="selectWithdrawRequestList" parameterType="withdraw" resultMap="withdrawResultSet">
		SELECT SELLER_NAME
			 , TO_CHAR(WITHDRAW_DATE, 'YYYY-MM-DD HH24:mm:SS') AS "WITHDRAW_DATE"
			 , WITHDRAW_MONEY
			 , W.ACCOUNT_NO AS "ACCOUNT_NO"
			 , W.REP_NAME AS "REP_NAME"
			 , REQ_RESULT
		FROM WITHDRAW W
		JOIN SELLER S ON (W.SELLER_NO = S.SELLER_NO)
		WHERE W.SELLER_NO = #{sellerNo}
		AND WITHDRAW_DATE BETWEEN #{startDate} AND #{endDate}
		ORDER BY WITHDRAW_DATE DESC
	</select>
	
	<select id="selectKmoneySettlement" parameterType="_int" resultMap="settlementResultSet">
		select nvl(a.a, 0) AS "ALL_BALANCE"
			 , nvl(b.b, 0) AS "CONFIRM_SETTLEMENT"
			 , nvl(c.c, 0) AS "PRE_SETTLEMENT"
			 , nvl(d.d, 0) AS "REMIT_BALANCE"
    		 , (nvl(b.b, 0) - nvl(d.d, 0)) AS "ABLE_BALANCE"
		from 
		(select sum(settle_dept) a
		from settlement
		join orders using (order_no)
		where order_status != 4
		and seller_no = #{sellerNo}) a,
		
		(select sum(settle_dept) b
		from settlement
		join orders using (order_no)
		where order_status = 3
		and seller_no = #{sellerNo}) b,
		
		(select sum(settle_dept) c
		from settlement
		join orders using (order_no)
		where order_status in (1, 2)
		and seller_no = #{sellerNo}) c,
		
		(select sum(withdraw_money) d
		from withdraw
		where seller_no = #{sellerNo}
		and req_result = 'N') d
	</select>
	
</mapper>






